@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

/* GENERICS & NAV */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.purple {
    color: #7342d6;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no__cursor {
    cursor: no-drop;
}

/* -------------- */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

/* Has priorty over last psuedo hover element b/c it's placed LATER in CSS style sheet - if placed before, it would not work :) */
.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
    padding-bottom: 10vw;
}

/*

HAMBURGER MENU

*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100   ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__list {
    padding: 32px 0;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* 

LANDING PAGE 

*/

header {
    height: calc(100vh - 80px);
}

.header__container {
    padding-top: 32px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 30px;
    z-index: 2;
}

/*

HIGHLIGHTS

*/

#highlights {
    position: relative;
}

#highlights::before {
    content: "";
    background: url(assets/wave.svg);
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    top: 1;
    transform: translateY(-100%);
}

.highlight__wrapper {
    display: flex;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 3px solid #7342d644;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

#highlights::after {
    content: "";
    background: url(assets/wave.svg);
    position: absolute;
    width: 101vw;
    height: 12vw;
    bottom: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%) rotate(180deg);
}

/* 

FEATURES & RECENTS

*/ 

#features {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex; 
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

/* 'when you HOVER over the .BOOK -> .BOOK__IMG will increase by 3%' */
.book:hover .book__img {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

/* 'when you HOVER over .BOOK__TITLE -> underlines & signals no link anchored' */
.book__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
} 

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* 

EXPLORE

Reminder that reusable CSS is LIT and REQUIRED for best AND easiest practice :D

*/

#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

/*

FOOTER 

*/

footer {
    background-color: #242424;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: white;
}

.footer__list {
    margin: 24px 0;
}

.footer__link {
    padding: 0 20px;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }

    .row {
        max-width: 600px;
    }
}



@media (max-width: 578px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .highlight__wrapper {
        flex-wrap: wrap;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }
}









